    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="101" height="24" viewBox="0 0 101 24" fill="none">
                <path fill="#000" fill-rule="evenodd" clip-rule="evenodd" d="M11.9837 15.3081H11.9829H11.9818C6.89503 15.2544 3.60807 12.835 3.60807 9.14487C3.60807 5.45472 6.89503 3.03535 11.9818 2.98162C17.0708 3.03535 20.3573 5.45472 20.3573 9.14487C20.3573 12.835 17.0708 15.2544 11.9837 15.3081ZM12.1322 0.0025971C12.1309 0.00275942 12.0298 0.000973914 11.9788 0C11.9267 0.000649276 11.8254 0.0025971 11.8254 0.0025971C4.8621 0.116058 0 3.87537 0 9.14489C0 14.4144 4.8621 18.1739 11.8238 18.2872C11.8238 18.2872 11.9267 18.2882 11.9774 18.2878C12.0306 18.2883 12.1325 18.2872 12.1325 18.2872C19.0941 18.1739 23.956 14.4144 23.956 9.14489C23.956 3.87537 19.0941 0.116058 12.1322 0.0025971Z"></path>
                <path fill="#000" fill-rule="evenodd" clip-rule="evenodd" d="M88.9769 15.3081H88.9761H88.9748C83.8882 15.2544 80.6012 12.835 80.6012 9.14487C80.6012 5.45472 83.8882 3.03535 88.9748 2.98162C94.0638 3.03535 97.3504 5.45472 97.3504 9.14487C97.3504 12.835 94.0638 15.2544 88.9769 15.3081ZM89.1254 0.0025971C89.1241 0.00275942 89.0231 0.000973914 88.9718 0C88.9199 0.000649276 88.8186 0.0025971 88.8186 0.0025971C81.8553 0.116058 76.9932 3.87537 76.9932 9.14489C76.9932 14.4144 81.8553 18.1739 88.8171 18.2872C88.8171 18.2872 88.9199 18.2882 88.9705 18.2878C89.0239 18.2883 89.1257 18.2872 89.1257 18.2872C96.0872 18.1739 100.949 14.4144 100.949 9.14489C100.949 3.87537 96.0872 0.116058 89.1254 0.0025971Z"></path>
                <path fill="#000" fill-rule="evenodd" clip-rule="evenodd" d="M63.3595 15.3081H63.3587H63.3576C58.271 15.2544 54.9841 12.835 54.9841 9.14487C54.9841 5.45472 58.271 3.03535 63.3576 2.98162C68.4465 3.03535 71.7333 5.45472 71.7333 9.14487C71.7333 12.835 68.4465 15.2544 63.3595 15.3081ZM63.5082 0.0025971C63.5069 0.00275942 63.4059 0.000973914 63.3546 0C63.3027 0.000649276 63.2014 0.0025971 63.2014 0.0025971C59.8841 0.0566493 57.0445 0.938691 54.9795 2.41661V0.858018H51.376V24H54.9795V15.8735C57.0442 17.3513 59.8833 18.2333 63.1998 18.2872C63.2001 18.2873 63.3027 18.2882 63.3532 18.2878C63.4067 18.2883 63.5083 18.2872 63.5083 18.2872C70.4699 18.1739 75.332 14.4144 75.332 9.14489C75.332 3.87537 70.4699 0.116058 63.5082 0.0025971Z"></path>
                <path fill="#000" fill-rule="evenodd" clip-rule="evenodd" d="M37.668 15.3081H37.6672H37.6662C32.5794 15.2544 29.2925 12.835 29.2925 9.14487C29.2925 5.45472 32.5794 3.03535 37.6662 2.98162C42.755 3.03535 46.0417 5.45472 46.0417 9.14487C46.0417 12.835 42.755 15.2544 37.668 15.3081ZM37.8226 0.0025971C37.8212 0.00275942 37.7202 0.000973914 37.6691 0C37.617 0.000649276 37.5157 0.0025971 37.5157 0.0025971C34.1984 0.0566493 31.3588 0.938691 29.2937 2.41661V0.858018H25.6904V24H29.2937V15.8735C31.3586 17.3513 34.1977 18.2333 37.5141 18.2872C37.5141 18.2872 37.617 18.2882 37.6676 18.2878C37.721 18.2883 37.8228 18.2872 37.8228 18.2872C44.7843 18.1739 49.6463 14.4144 49.6463 9.14489C49.6463 3.87537 44.7843 0.116058 37.8226 0.0025971Z"></path>
            </svg>
          </a>
          <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse justify-content-lg-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                   Smartphones
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">IoT Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">StoreHot</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About OPPO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ColorOS </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Support </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/details/logout">Logout </a>
              </li>
            </ul>
          </div>
          
          <div class="d-none d-lg-block">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill="#000"  fill-rule="evenodd" clip-rule="evenodd" d="M15.5 11C15.5 13.4853 13.4853 15.5 11 15.5C8.51472 15.5 6.5 13.4853 6.5 11C6.5 8.51472 8.51472 6.5 11 6.5C13.4853 6.5 15.5 8.51472 15.5 11ZM14.7133 15.7133C13.6918 16.5191 12.4021 17 11 17C7.68629 17 5 14.3137 5 11C5 7.68629 7.68629 5 11 5C14.3137 5 17 7.68629 17 11C17 12.371 16.5402 13.6346 15.7663 14.645L19.0607 17.9393L18 19L14.7133 15.7133Z"></path>
            </svg>
        </div>
        <div class="px-lg-2 d-none d-lg-block">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke="#000" d="M5.75 7.75H18.25V19C18.25 19.6904 17.6904 20.25 17 20.25H7C6.30964 20.25 5.75 19.6904 5.75 19V7.75Z" stroke-width="1.5" fill="none"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 7H16C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7H9.5C9.5 5.61929 10.6193 4.5 12 4.5C13.3807 4.5 14.5 5.61929 14.5 7Z"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 10L8 10C8 12.2091 9.79086 14 12 14C14.2091 14 16 12.2091 16 10L14.5 10C14.5 11.3807 13.3807 12.5 12 12.5C10.6193 12.5 9.5 11.3807 9.5 10Z"></path>
            </svg>
          </div>
          <div class="ms-lg-auto px-2 d-none d-lg-block">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <circle stroke="#000" cx="12" cy="12" r="8.25" transform="rotate(90 12 12)" stroke-width="1.5" fill="none"></circle>
                <path stroke="#000" d="M14.75 10.5354C14.75 12.0542 13.5188 13.2854 12 13.2854C10.4812 13.2854 9.25 12.0542 9.25 10.5354C9.25 9.01666 10.4812 7.78544 12 7.78544C13.5188 7.78544 14.75 9.01666 14.75 10.5354Z" stroke-width="1.5" fill="none"></path>
                <path fill="#000" fill-rule="evenodd" clip-rule="evenodd" d="M18.0627 18.6515C17.1211 16.2223 14.7617 14.5 12 14.5C9.23819 14.5 6.8787 16.2224 5.93713 18.6517C5.53341 18.2835 5.16332 17.879 4.83203 17.4435C6.14128 14.8098 8.85928 13 12 13C15.1406 13 17.8585 14.8097 19.1678 17.4432C18.8365 17.8788 18.4665 18.2833 18.0627 18.6515Z"></path>
            </svg>
          </div>
          
        
        </div>
        
      </nav>
    <!-- Top Slider -->
    <div id="TopBanner" class="carousel carousel-dark slide" data-bs-interval="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#TopBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#TopBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#TopBanner" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="images/slider01.jpg" class="d-block w-100" alt="Slider 01">
            
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="images/slider03.jpg" class="d-block w-100" alt="Slider 02">
            <div class="carousel-caption d-none d-md-flex h-100 ">
              <h3>Oppo Education Program</h3>
              <p>5% Exclusive discount for students</p>
              <a  href="#" class="btn btn-dark rounded-0">Learn more</a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="images/slider02.jpg" class="d-block w-100" alt="Slider 03">
            <div class="carousel-caption d-none d-md-flex h-100 " style="right:15%;left:auto;">
                <h3>OPPO Enco Buds</h3>
                <p>The Best in Class Wireless Earbuds</p>
                <a  href="#" class="btn btn-dark rounded-0">Learn more</a>
                
              </div>
          </div>
          <div class="carousel-item">
            <img src="images/slider04.jpg" class="d-block w-100" alt="Slider 03">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#TopBanner" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#TopBanner" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Small carousel -->
      <section class="my-md-5 my-4">
          <div class="container">
            <div id="SmallSlider" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#SmallSlider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#SmallSlider" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active py-2">
                    <div class="row">
                        <div class="col-md">
                            <img src="images/slider-sm-01.jpg" class="d-block w-100" alt="Reward Multiplier">
        
                        </div>
                        <div class="col-md-6 text-center align-self-center">
                            <h2 class="title">
                                <a href="#">
                                  Reward Multiplier
                                </a>
                              </h2>
                              <p class="description">
                    Earn up to 2500 points every day.
                              </p>
                        </div>
                        <div class="col-md text-center align-self-center">
                            <a href="#" class="btn btn-dark rounded-0">
                              Learn more
                              </a>
                        </div>
                      </div>
                </div>
                <div class="carousel-item py-2">
                  <div class="row">
                      <div class="col-md">
                          <img src="images/slider-sm-02.jpg" class="d-block w-100" alt="OPPO Membership ">
      
                      </div>
                      <div class="col-md-6 text-center align-self-center">
                          <h2 class="title">
                              <a href="#">
                                OPPO Membership 
                              </a>
                            </h2>
                            <p class="description">
                  
                              Join us and enjoy the benefits.
                  
                            </p>
                      </div>
                      <div class="col-md text-center align-self-center">
                          <a href="#" class="btn btn-dark rounded-0">
                            Learn more
                            </a>
                      </div>
                    </div>
              </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#SmallSlider" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#SmallSlider" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
          </div>
      </section>
      <!-- Smart phone section -->
      <section id="smart-Phones" class="py-5">
        <div class="container pb-md-4 pb-3">
          <div class="d-md-flex justify-content-between">
            <div>
              <h1>Smartphones</h1>
            </div>
            <div class="align-self-center">
              <a href="#" class="text-dark fs-6">
              View all smartphones
            </a>
            </div>
          </div>
        </div>
       
        <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="small-box pb-5">
              <a href="#">
                <div class="prod-img-box">
                  <img src="images/phones/Find-X2.jpg" width="100%" height="100%">
                </div>
              </a>
              <div class="pt-3">
                <h5 class="fw-bold">
                 <a href="#" class="text-dark text-decoration-none">OPPO Find X2 </a> 
                </h5>
                <p class="fs-6">
                  Uncover The Ultimate
                </p>
                <a href="#" class="btn btn-sm btn-dark rounded-0">Learn more</a>
              </div>
          </div>
          <div class="big-box pb-5">
            <a href="#">
              <div class="prod-img-box">
                <img src="images/phones/Reno6.jpg" width="100%" height="100%">
              </div>
            </a>
            <div class="pt-3">
              <h5 class="fw-bold">
                <a href="#" class="text-dark text-decoration-none"></a>OPPO Reno6 5G </a>

              </h5>
              <p class="fs-6">
                Every Emotion, In Portrait
              </p>
              <p>
                ₹29990
              </p>
              <div>
              <a href="#" class="btn btn-sm btn-dark rounded-0">Learn more</a>
              <a href="#" class=" text-dark td-underline fs-6 ps-2">Buy now</a>
            </div>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-between">
          <div class="big-box pb-5">
            <a href="#">
              <div class="prod-img-box">
                <img src="images/phones/OppoF19.jpg" width="100%" height="100%">
              </div>
            </a>
            <div class="pt-3">
              <h5 class="fw-bold">
                <a href="#" class="text-dark text-decoration-none"> OPPO F19s </a>
              </h5>
              <p class="fs-6">
                33W Flash Charge, Sleekest Phone With 5000mAh Battery
              </p>
              <p>
                ₹19990
              </p>
              <div>
              <a href="#" class="btn btn-sm btn-dark rounded-0">Learn more</a>
              <a href="#" class=" text-dark td-underline fs-6 ps-2">Buy now</a>
            </div>
            </div>
          </div>
          <div class="small-box pb-5">
              <a href="#">
                <div class="prod-img-box">
                  <img src="images/phones/A55.jpg" width="100%" height="100%">
                </div>
              </a>
              <div class="pt-3">
                <h5 class="fw-bold">
                  OPPO A55 
                </h5>
                <p class="fs-6">
                  5000mAh Long-lasting Battery, 18W Fast Charge, 16MP Selfie Camera
                </p>
                <p>
                  ₹15490
                </p>
                <a href="#" class="btn btn-sm btn-dark rounded-0">Learn more</a>
                <a href="#" class=" text-dark td-underline fs-6 ps-2">Buy now</a>
              </div>
          </div>
          
        </div>
        </div>
        <div class="container pb-md-4 pb-3">
          <div class="d-md-flex justify-content-between">
            <div>
              <h1>IoT Products</h1>
            </div>
            <div class="align-self-center">
              <a href="#" class="text-dark fs-6">
                View all IoT Products
            </a>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row d-flex justify-content-between">
            <div class="small-box pb-5">
                <a href="#">
                  <div class="prod-img-box">
                    <img src="images/phones/oppowatch.jpg" width="100%" height="100%">
                  </div>
                </a>
                <div class="pt-3">
                  <h5 class="fw-bold">
                   <a href="#" class="text-dark text-decoration-none">OPPO Watch  </a> 
                  </h5>
                  <p class="fs-6">
                    
                    Designed to Impress
                  
                  </p>
                  <p>
                    ₹14990 <span class="text-decoration-line-through text-muted ps-2">₹1990</span>
                  </p>
                  <a href="#" class="btn btn-sm btn-dark rounded-0">Learn more</a>
                  <a href="#" class=" text-dark td-underline fs-6 ps-2">Buy now</a>
                </div>
            </div>
            <div class="big-box pb-5">
              <a href="#">
                <div class="prod-img-box">
                  <img src="images/phones/buds.jpg" width="100%" height="100%">
                </div>
              </a>
              <div class="pt-3">
                <h5 class="fw-bold">
                  <a href="#" class="text-dark text-decoration-none">OPPO Enco Buds  </a>
  
                </h5>
                <p class="fs-6">
                  The Best in Class Wireless Earbuds
                </p>
                <p>
                  ₹1799 <span class="text-decoration-line-through text-muted ps-2">₹1999</span>
                </p>
                <div>
                <a href="#" class="btn btn-sm btn-dark rounded-0">Learn more</a>
                <a href="#" class=" text-dark td-underline fs-6 ps-2">Buy now</a>
              </div>
              </div>
            </div>
          </div>
          </div>
      </section>
     <section id="footer" class="py-5">
      <div class="container d-md-flex justify-content-md-between">
        <div>
          <h6>Smartphones</h6>
          <ul>
            <li>
              <a href="#">
                OPPO Reno6 Pro 5G
              </a>
            </li>
            <li>
              <a href="#">
                OPPO Reno6 5G
              </a>
            </li>
            <li>
              <a href="#">
                OPPO Reno5 Pro 5G
              </a>
            </li>
            <li>
              <a href="#">
                OPPO Reno4 Pro
              </a>
            </li>
            <li>
              <a href="#">
                OPPO F19 Pro+ 5G
              </a>
            </li>
            <li>
              <a href="#">
                OPPO F19 Pro
              </a>
            </li>
            <li>
              <a href="#">
                OPPO F19s
              </a>
            </li>
            <li>
              <a href="#">
                OPPO F19
              </a>
            </li>
            <li>
              <a href="#">
                OPPO A74 5G
              </a>
            </li>
            <li>
              <a href="#">
                OPPO A55
              </a>
            </li>
            <li>
              <a href="#">
                OPPO A54
              </a>
            </li>
            <li>
              <a href="#">
                OPPO A53s 5G
              </a>
            </li>
            <li>
              <a href="#">
                See All Smartphones
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h6>IoT Products</h6>
          <ul>
            <li>
              <a href="#">
                OPPO Enco Buds
              </a>
            </li>
            <li>
              <a href="#">
                OPPO Band Style
              </a>
            </li>
            <li>
              <a href="#">
                OPPO Enco X
              </a>
            </li>
            <li>
              <a href="#">
                OPPO Watch
              </a>
            </li>
            <li>
              <a href="#">
                OPPO Enco W51
              </a>
            </li>
            <li>
              <a href="#">
                OPPO Enco W11
              </a>
            </li>
            <li>
              <a href="#">
                OPPO Enco Free
              </a>
            </li>
            <li>
              <a href="#">
                OPPO Enco W31
              </a>
            </li>
            <li>
              <a href="#">
                OPPO Enco M31
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h6>Special Offers</h6>
          <ul>
            <li>
              <a href="#">
                Education Discount
              </a>
            </li>
            <li>
              <a href="#">
                Strike a Bargain
              </a>
            </li>
            
          </ul>
        </div>
        <div>
          <h6>About OPPO</h6>
          <ul>
            <li>
              <a href="#">
                Our Story
              </a>
            </li>
            <li>
              <a href="#">
                Technology
              </a>
            </li>
            <li>
              <a href="#">
                Newsroom
              </a>
            </li>
            <li>
              <a href="#">
                Campaign
              </a>
            </li>
            <li>
              <a href="#">
                Career
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h6>OPPO Community</h6>
          <ul>
            <li>
              <a href="#">
                OPPO Community
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="container mt-4">
        <div  class="social-media">
          <ul class="d-flex">
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <hr>
        <div  class="terms">
          <ul class="d-flex">
            <li>
              <a href="#">
                <small>
                Privacy
              </small>
              </a>
            </li>
            <li>
              <a href="#">
                <small>
                Terms of Use
              </small>
              </a>
            </li>
            
          </ul>
          <div class="copy mt-2">
            Copyright &copy; 2004-2021 OPPO. All rights reserved.

          </div>
        </div>
      </div>
     

     </section>